<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/home.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=VT323&display=swap" rel="stylesheet">
        <title>MI PAGINA</title>
    </head>
<body>
    <section class="main-section">
        <h1>Biblioteca de Ciudad Gotica</h1>
        <button class="boton-buscar" type="button" onclick="location.href='http://127.0.0.1:5000/libros/'">BUSCAR LIBROS</button>
            <div class="img-div">
        <div class="img-div">
            <img src="../static/img/batman.webp" alt="Batman" class="img-batman">
        </div>
        <h2>www.bibliogotica.com</h2>
    </section>
</body>
</html>

